.simple-buttons{
    background-color: green;
    padding: 60px;
}
header{
background-color: green;
font-family: 'Times New Roman', Times, serif;

.nav{
    margin: 30px;
    .logo{


        font-size: bolder;
        font-weight: bold;
        float: left;
        padding-top: 80;
    }